.navbar-branda  {
    color: #A3D1D1;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive,Microsoft JhengHei;
}
.page-scroll {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
